<html>
  <head>
  <title>Get Sadness of Your Recent</title>
  </head>
  <body>
    {% if current_user %}
        <p>You are logged in as {{ current_user.displayname|escape }}.</p>
        {% if recents %}
            <p>Your recently played are:</p>
            <ul>
                {% for song in recents %}
                    <li>
                        <a href="{{song.track.external_urls.spotify}}">
                            {{song.track.name}}
                        </a>
                        Valence of {{valences[song.track.id]}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Your Overall Mood is {{overallValence}} - {{meanValence}}</p>
        {% if overallValence == "Sad" %}
            <p>We noticed that you've been listening to a lot of sad songs recently.</p>
            <p><a href="playlist/create" name="gobtn">Would you like to try some happy songs?</a></p>
          {% endif %}
        <p><a href="/auth/logout">Log out</a></p>
    {% else %}
        <p>You are not yet logged into this site</p>
        <p><a href="/auth/login">Log in to Spotify</a></p>
    {% endif %}
  </body>
</html>